body {
background-color: lightblue;
font-family: "Georgia", Times, serif;
}

h1 {
  color: white;
  text-align: center;
}

/*ToolBar Code-Begins(Here)*/
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: slategrey;
      }
li {
      letter-spacing: 3px;
      float: left;
      text-transform: uppercase;
      width: 33.33%;
      /*margin-left: 25px;*/
    }
li a {
      display: block;
      color: #FFFFFF;
      text-align: center;
      /*width: 33.33%;*/
      padding: 25px;
      text-decoration: none;
    }
li a:hover {
      background-color: lightblue;
    }

#LeftColumn {
  float: left;
  width: 68%;
  height: relative;
  padding: 0;
  margin: 1%;
  margin-left: 0;
  margin-right: 2%;
}
#RightColumn {
  float: right;
  width: 28%;
  height: relative;
  padding: 0;
  margin: 1%;
  margin-right: 0;
  margin-left: 2%;}

#PgNam {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Info {
  margin: 1%;
  padding: 2%;
  height: relative;
  color: grey;
  background-color: white;
  border-radius: 20px;
  border: white;
  float: left;
}
#AboutMeIc {
  clear:left;
}

#Main.Info {
  width: 98%;
  height: relative;
}

#AboutMe.Info {
  width: 98%;
  float:auto;
  margin: 1%;
  padding: 0;
}

.header {
  text-align: center;
}

.body {
  text-align: left;
  text-indent: 32px;
}

.IconInfoBox {
  display: table;
  width:31%;
  height: 250px;
  float:left;
  margin:1%;
  padding:0;
}

#ProfileImageCon {
  text-align: center;
}

.iconheader {
  text-align: center;
  size: 75%;
  margin-bottom: 10px;
}

.IconPicCon {
  text-align: center;
}

.IconDesc {
  font-style: italic;
  text-align: center;
}
