
body {
    height: 100%;
    margin: 0;}

.bg {
    /* The image used */
    background-image: kbettuzzi.github.io/img/bridge.JPG("bridge.jpg");}
    
#Webpage { float: center;}
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




h1 {background-color: MidnightBlue;
    text-align: center;}
div {vertical-align: center;
    background-color: MidnightBlue;
    width: 300px;
    border: 3px solid white;
    padding: 25px;
    padding: center;
    margin: 25px;
    letter-spacing: 2px;
    font-size: 150%;
    color: white}

p {background-color: MidnightBlue;
    text-align: center;
    text-indent: 50px;}

h2 {background-color: MidnightBlue;
    text-align: center;}

p {background-color: MidnightBlue;
    text-align: center;
    text-indent: 50px;}
